MONGODB_URI=mongodb://localhost:27017/luxury_fernandez
MONGODB_DB=luxury_fernandez
MONGODB_COLLECTION=catalogos
MONGODB_USERS_COLLECTION=users
ADMIN_USER=admin
ADMIN_PASSWORD=luxury2025
ADMIN_TOKEN_SECRET=cambia-este-secreto-en-vercel
PORT=3000
