MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/luxury_fernandez
MONGODB_DB=luxury_fernandez
MONGODB_COLLECTION=catalogos
MONGODB_USERS_COLLECTION=users
ADMIN_USER=admin
ADMIN_PASSWORD=pon-aqui-una-contraseña-larga-y-segura
ADMIN_TOKEN_SECRET=pon-aqui-un-secreto-aleatorio-de-32-chars-o-mas
PORT=3000
